{
  "log": {
    "_recordingName": "validate-invocation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5bf4e390b1235935cf9a9cbf9a2bb9bb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "finch-api-version",
              "value": "2020-09-17"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.tryfinch.com/employer/directory?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 227,
            "text": "{\"paging\":{\"count\":30,\"offset\":0},\"individuals\":[{\"id\":\"83d81888-5f7d-4326-b464-4a3fd718852a\",\"first_name\":\"Cordell\",\"last_name\":\"Wintheiser\",\"middle_name\":null,\"department\":{\"name\":\"Product\"},\"manager\":null,\"is_active\":true}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "finch-request-id",
              "value": "21b93380-f88f-11ec-9af0-55362f36bd7f"
            },
            {
              "name": "finch-api-version",
              "value": "2020-09-17"
            },
            {
              "name": "finch-data-retrieved",
              "value": "2022-06-30T13:30:54Z"
            },
            {
              "name": "etag",
              "value": "W/\"e3-igBDqiOZrZ+PgW00yEdsafyn9Io\""
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 459,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
