{
  "log": {
    "_recordingName": "client-id-auth-error",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5bf4e390b1235935cf9a9cbf9a2bb9bb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "finch-api-version",
              "value": "2020-09-17"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "limit",
              "value": "1"
            }
          ],
          "url": "https://api.tryfinch.com/employer/directory?limit=1"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 130,
            "text": "{\"statusCode\":401,\"status\":401,\"code\":401,\"message\":\"Invalid token: invalid format for access token\",\"name\":\"invalid_token_error\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "finch-request-id",
              "value": "6d0e2ca0-f88f-11ec-b11e-754cb933d83e"
            },
            {
              "name": "finch-api-version",
              "value": "2020-09-17"
            },
            {
              "name": "etag",
              "value": "W/\"82-7aRZVtFo4Cuh/C08meOla5Wa99k\""
            }
          ],
          "status": 401,
          "statusText": "Unauthorized"
        },
        "time": 390,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
