{
  "log": {
    "_recordingName": "fetch-account",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "5914a9d6b9ceb7afd1e0c96995c76bf9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "finch-api-version",
              "value": "2020-09-17"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            },
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://api.tryfinch.com/employer/company"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=utf-8",
            "size": 999,
            "text": "{\"id\":\"f5bd77f4-f747-4468-ac02-c7e45ac32a14\",\"legal_name\":\"Cisticola Worldwide LLC\",\"ein\":\"12-3456116\",\"entity\":{\"type\":\"llc\",\"subtype\":null},\"primary_email\":\"admin@cisticola-worldwide.llc\",\"primary_phone_number\":\"4151234568\",\"departments\":[{\"name\":\"West Coast\",\"parent\":null},{\"name\":\"East Coast\",\"parent\":null},{\"name\":\"Product\",\"parent\":{\"name\":\"West Coast\"}},{\"name\":\"Support\",\"parent\":{\"name\":\"East Coast\"}},{\"name\":\"GTM\",\"parent\":{\"name\":\"West Coast\"}}],\"locations\":[{\"line1\":\"300 Post St\",\"line2\":null,\"city\":\"San Francisco\",\"state\":\"CA\",\"country\":\"US\",\"postal_code\":\"94108\"},{\"line1\":\"767 5th Ave\",\"line2\":null,\"city\":\"New York\",\"state\":\"NY\",\"country\":\"US\",\"postal_code\":\"10153\"}],\"accounts\":[{\"institution_name\":\"BANK OF AMERICA\",\"account_name\":\"BofA Checking\",\"account_type\":\"checking\",\"account_number\":\"55351192\",\"routing_number\":\"140508873\"},{\"institution_name\":\"CHASE\",\"account_name\":\"Chase Checking\",\"account_type\":\"checking\",\"account_number\":\"76164394\",\"routing_number\":\"575106617\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=utf-8"
            },
            {
              "name": "finch-request-id",
              "value": "97a4ad90-f88a-11ec-b11e-754cb933d83e"
            },
            {
              "name": "finch-api-version",
              "value": "2020-09-17"
            },
            {
              "name": "etag",
              "value": "W/\"3e7-UhhX6RtUyRNzZmxEOGLQPHvBEc4\""
            },
            {
              "name": "finch-data-retrieved",
              "value": "2022-06-30T15:37:47Z"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 472,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
